body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    padding: 20px;
}

.campo, .cidade {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 45%;
}

.campo img, .cidade img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.campo h2, .cidade h2 {
    color: #4CAF50;
}

.campo p, .cidade p {
    color: #333;
    line-height: 1.6;
}